/*
Author: Jordan Peebles 
Date: 9/29/2025
File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, h1, h2 {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and header content */
body {
    background-color: #d9d9d9;
}

header, footer {
    padding: 2%;
    text-align: center;
}

/* Style rules for main content */
main {
    padding: 2%;
    overflow: auto;
}

main p {
    font-size: 1.25em;
    padding: 2%;
}

main a {
    color: #0000b3;
    text-decoration: none;
}

#orange, #purple, #green {
    display: block;
    margin-bottom: 2%;
    text-align: center;
    width: 33%;
    float: left;
}

#questions {
    clear: left;
}

.box {
    height: 100px;
    width: 100px;
    border: 1px solid #000;
    display: inline-block;
    padding-top: 5%;
}

/* Orange */
.orange-hex {
    background-color: #ff9900;
    color: #fff;
}

.orange-rgb {
    background-color: rgb(255, 153, 0); /* Equivalent to #ff9900 */
    color: #fff;
}

.orange-hsl {
    background-color: hsl(36, 100%, 50%); /* Equivalent to #ff9900 */
    color: #fff;
}

/* Purple */
.purple-hex {
    background-color: #8000ff;
    color: #fff;
}

.purple-rgb {
    background-color: rgb(128, 0, 255); /* Equivalent to #8000ff */
    color: #fff;
}

.purple-hsl {
    background-color: hsl(270, 100%, 50%); /* Equivalent to #8000ff */
    color: #fff;
}

/* Green */
.green-hex {
    background-color: #00cc66;
    color: #fff;
}

.green-rgb {
    background-color: rgb(0, 204, 102); /* Equivalent to #00cc66 */
    color: #fff;
}

.green-hsl {
    background-color: hsl(150, 100%, 40%); /* Equivalent to #00cc66 */
    color: #fff;
}
