/* Tablet viewport styles */
@media (min-width: 600px) and (max-width: 1024px) {
	form {
		width: 80%;
		margin: 0 auto;
	}

	.grid {
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: 20px;
	}

	.btn {
		grid-column: 1 / span 2;
		padding: 3%;
	}
}
/* Mobile viewport styles for forms */
fieldset,
input {
	margin-bottom: 2%;
}

fieldset legend {
	font-size: 1.25em;
	font-weight: bold;
}

.btn {
	border: none;
	margin: 0 auto;
	display: block;
	padding: 5%;
	background-color: #003399;
	font-size: 1.25em;
	border-radius: 10px;
	color: #fff;
}
/* Jordan Peebles, September 21, 2025 */


/* Set the background color and font for the page */
body {
	background-color: #ffe5dc;
	font-family: Arial, Helvetica, sans-serif;
}

/* Style the table border, shadow, and layout */
table {
	border: 2px solid #fd4d0c;
	box-shadow: 0 4px 12px #792101;
	border-collapse: collapse;
	width: 80%;
	margin: 2em auto;
	background: white;
}

/* Style table header and data cell borders, padding, and alignment */
th, td {
	border: 1px solid #a22c02;
	padding: 0.75em 1em;
	text-align: center;
}

/* Set background color for odd table rows (excluding header) */
tr:nth-child(odd):not(:first-child) {
	background-color: #fe9772;
}

/* Style the table caption */
caption {
	caption-side: top;
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 0.5em;
}
