/* 
Style sheet created by: Jordan Peebles
Student's Name: Jordan Peebles
Today's Date: 9/14/2025
*/

body {
    background-color: #dde3fd;
}

#container {
    padding-bottom: 500px;
}

.box {
    border: 1px solid #000;
    margin: 2%;
    padding: 2%;
    background-color: #798ef6;
    color: #091034;
    width: 400px;
    height: 170px;
}

/* sticky */
.sticky {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
}

/* relative */
.relative {
    position: relative;
    top: 40px;
    left: 80px;
}

/* fixed */
.fixed {
    position: fixed;
    top: 30px;
    right: 50px;
}

/* absolute */
.absolute {
    position: absolute;
    bottom: 40px;
    right: 60px;
}
