
/* Style rules for form elements */

fieldset,
input,
textarea {
    margin-bottom: 2%;
}

fieldset legend {
    font-weight: bold;
    font-size: 1.25em;
}

label {
    display: block;
    padding-top: 2%;
}

form #submit {
    margin: 0 auto;
    display: block;
    padding: 2%;
    background-color: #78593a;
    color: #f6eee4;
    font-size: 1.25em;
    border-radius: 10px;
}

/* Mobile styles */

/* Tablet Viewport: Style rule for form element */
form {
    width: 70%;
    margin: 0 auto;
}

aside {
    /* Add aside styles here if needed */
}

@media (min-width: 901px) {
    /* Desktop Viewport: Style rules for form elements */
    form {
        width: auto;
    }

    .form-grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px;
    }

    .btn {
        grid-column: 1 / span 2;
    }

    table {
        border: 1px solid #2a1f14;
        border-collapse: collapse;
        margin: 0 auto;
    }

    caption {
        font-size: 1.5em;
        font-weight: bold;
        padding: 1%;
    }

    th, td {
        border: 1px solid #2a1f14;
        padding: 1%;
    }

    th {
        background-color: #2a1f14;
        color: #fff;
        font-size: 1.15em;
    }

    tr:nth-child(odd) {
        background-color: #deccba;
    }

    /* Desktop Viewport: Show desktop class, hide mobile-tablet class */
    .desktop {
        display: block;
    }

    /* aside styles can be added here if needed */

    /* Style rules for table */

    .mobile-tablet {
        display: none;
    }
}
/* Mobile styles */

/* Mobile styles */

